fastapi==0.116.1
uvicorn[standard]==0.35.0

pandas==2.3.1
numpy==2.2.6

sqlalchemy==2.0.43
psycopg2-binary==2.9.10

python-multipart==0.0.20

opencv-python==4.11.0.86

ultralytics
supervision

shapely

requests

pytest