body {
  margin: 0;
  background: #0F172A;
  color: white;
  font-family: Inter, sans-serif;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 8px;
}